<div class="sidebar">

  <div class="container sidebar-sticky">
    <a href="/"><img class="center" src="../public/code-pipes-logo.png" / width="230" height="230"></a>
    <div class="sidebar-about">


      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == " Home" %} active{% endif %}">
        <a href="/">Contents</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == " About" %} active{% endif %}">
        <a href="/about.html">About</a>
      </li>
      <li class="sidebar-nav-item"><a href="https://www.manning.com/books/java-testing-with-spock">Java Testing with
          Spock</a></li>
      <li class="sidebar-nav-item"><a href="http://github.com/kkapelon">My GitHub</a></li>
      <li class="sidebar-nav-item"><a href="http://codepipes.com">Back to Codepipes</a></li>
    </ul>

    <p>&copy; 2013 - {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>