body{
	margin-left: 10%;
	margin-right: 10%;
	color: black;
	background-color: #ffcc99;
	font-family: verdana, arial, sans-serif
}
a:hover {
	text-decoration: none;
	color:orange;	
}
h1 {
	margin-top:1em;
	margin-bottom:1em;
	margin-left:25%;
}
div.box { 
	margin-top: 3px;
	margin-bottom: 3px;
	background: #ffffcc;
	padding: 1em;
}
div.content {
	border: none;
	padding: 0.5em;
	background-color: #ccffcc
}
p.nav {
	text-align: center;
}
a.nav {
	background-color: #99ff99;
}

